.App {
  max-width: 1600px;
  margin: 0 auto;
}

section, nav {
  width: 100%;
  padding: 0 clamp(20px, 8vw, 100px);
}
@media (max-width: 425px) {
  section, nav {
    padding: 0 20px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: white;
}
@media (max-width: 768px) {
  .nav {
    position: fixed;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
  }
}
.nav__logo {
  color: #0c0c22;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 60px;
  z-index: 99;
}
@media (max-width: 768px) {
  .nav__list {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 60px;
    width: 90%;
    margin: 0 auto;
    height: 520px;
    border-radius: 8px;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(12, 12, 34, 0.3);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 40px;
    padding-left: 10vw;
    gap: 0;
    align-items: flex-start;
  }
}
.nav__link {
  font-size: 16px;
  font-weight: 500;
  color: #0c0c22;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .nav__link {
    display: block;
    width: 50vw;
    border-bottom: 1px solid rgba(12, 12, 34, 0.3);
    padding: 14px 0;
    color: #0c0c22;
    opacity: 1;
    font-size: 18px;
    font-weight: 400;
  }
}
.nav__link:hover {
  opacity: 1;
  transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.visible {
  display: flex;
}

.menu-btn {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}

.menu-btn .line {
  width: 32px;
  height: 2px;
  background-color: #0c0c22;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-btn:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 2px solid transparent;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn.is-active:before {
  border: 2px solid #0c0c22;
}

.menu-btn.is-active .line {
  width: 20px;
}

.menu-btn.is-active .line:nth-child(2) {
  opacity: 0;
}

.menu-btn.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}

.menu-btn.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(90deg);
  -ms-transform: translateY(-8px) rotate(90deg);
  -o-transform: translateY(-8px) rotate(90deg);
  transform: translateY(-8px) rotate(90deg);
}

.hero {
  height: 550px;
  background-image: url("../images/hero-img.gif");
  background-repeat: no-repeat;
  background-position: top right;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 60px;
  }
}
@media (max-width: 1200px) {
  .hero {
    background: none;
  }
}
@media (min-width: 2000px) {
  .hero {
    max-height: 700px;
  }
}
.hero__text {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1px;
  padding-top: 30px;
  margin-bottom: 120px;
  line-height: 1.4;
  color: #0c0c22;
}
.hero__text .introduction {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-bottom: 8px;
  opacity: 0.8;
}
.hero__text .text-animation {
  display: flex;
}
@media (max-width: 600px) {
  .hero__text .text-animation {
    flex-direction: column;
    gap: 0;
  }
}
@media (min-width: 600px) {
  .hero__text {
    font-size: calc(1.5rem + 3.5vw);
    margin-bottom: 50px;
  }
  .hero__text .introduction {
    font-size: calc(1.5rem + 3.5vw);
  }
  .hero__text .word-list {
    display: inline;
  }
}
.hero__cta {
  display: flex;
  gap: 40px;
}
@media (max-width: 600px) {
  .hero__cta {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .hero__cta a {
    width: 80%;
  }
}
@media (max-width: 424px) {
  .hero__cta a {
    width: 100%;
  }
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@-moz-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.card {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 60px;
  color: #0c0c22;
  border-radius: 16px;
  border: 1px solid rgba(12, 12, 34, 0.2);
  background-color: rgba(12, 12, 34, 0.05);
}
@media (max-width: 1023px) {
  .card {
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 600px) {
  .card {
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .card {
    padding: 20px 10px;
  }
}
.card__thumbnail {
  width: 50%;
}
@media (max-width: 1023px) {
  .card__thumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card__thumbnail img {
    max-width: 500px;
    width: 100%;
  }
}
.card__info {
  width: 50%;
}
@media (max-width: 1023px) {
  .card__info {
    width: 100%;
    max-width: 500px;
  }
}
.card__logo {
  position: absolute;
  width: 100%;
  display: none;
}
.card__title {
  font-size: 24px;
  max-width: 20ch;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1.4;
  color: rgba(12, 12, 34, 0.9);
}
@media (max-width: 768px) {
  .card__title {
    font-size: 22px;
  }
}
.card__description {
  font-size: 16px;
  max-width: 45ch;
  color: rgba(12, 12, 34, 0.8);
  font-weight: 400;
  line-height: 1.6;
}
.card__topics {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 16px;
}
.card__topics .topic {
  font-size: 12px;
  font-weight: 500;
  color: #0c0c22;
  padding: 0 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.card__cta {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: fit-content;
  height: 50px;
  padding: 0 32px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.8em;
  cursor: pointer;
  transition: all 0.13s ease-out;
}
.btn__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.25px;
}

.btn-solid {
  background-color: #0c0c22;
  border-color: #0c0c22;
  color: #fff;
}
.btn-solid:hover {
  background-color: #17172C;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn-outline {
  background-color: transparent;
  border-color: #0c0c22;
  color: #0c0c22;
}
.btn-outline:hover {
  box-shadow: inset 0 0 0 1px #0c0c22;
}

.btn-link {
  border: none;
  color: blueviolet;
  text-decoration: underline;
}

.btn-lg {
  height: 60px;
}
.btn-lg .btn__text {
  font-size: 18px;
}

.hero-btn .btn__icon {
  margin-right: 6px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.hero-btn .btn__text {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.hero-btn:hover .btn__icon {
  transform: translateX(5px) rotate(90deg);
}
.hero-btn:hover .btn__text {
  transform: translateX(7px);
}