.hero {
  width: 100%;
  height: 100vh;
  max-height: 700px;
  padding-top: 60px;
  &__image {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    img {
      width: 100px;
    }
    &__description {
      font-family: "Cabinet Grotesk";
      color: $primary-color;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      @media(max-width: 800px){
        font-size: 20px;
      }
    }
  }
  &__social { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
    // @media (min-width: 800px){
    // position: absolute;
    // top: 50px;
    // right: 50px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // gap: 20px;
   
    // }
    &__btn {
      color: rgba($color: #fff, $alpha: 0.8);
      padding: 8px;
      border-radius: 8px;
      transition: all 0.2s ease-in;
    }
    &__btn:hover {
      color: rgba($color: #fff, $alpha: 1);
      transform: scale(1.1);
    }
  }

  &__text {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    .title {
      font-family: "Cabinet Grotesk";
      color: $primary-color;
      font-size: 44px;
      font-weight: 800;
      line-height: normal;
      max-width: 22ch;
      margin-bottom: 20px;
      text-align: center;
       @media(max-width: 800px){
        font-size: 36px;
      }
      @media(max-width: 700px){
        font-size: 32px;
      }
    }
  }

  &__cta {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      gap: 32px;
      a {
        width: 80%;
      }
    }
    @media (max-width: 424px) {
      a {
        width: 100%;
      }
    }
  }
}
